* {box-sizing: border-box;}

body { 
  margin: auto;
  max-width: 700px;
  font-family: Georgia, sans-serif, Arial, Helvetica;
  line-height: 1.5;
  font-size: 20px;  
  /* background-color: rgb(239, 239, 239); */
  padding: 0 20px 0 20px;
}

h1 {
  font-family: sans-serif, Arial, Helvetica;
  font-weight: bold;
  font-size: 36px;
}

.header {
  overflow: hidden;
}

.main {
}

.responsive {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 30px auto 30px auto;
    height: auto;
}
