* {box-sizing: border-box;}

body { 
  margin: auto;
  max-width: 400px;
  font-family: sans-serif, Arial, Helvetica;
  background-color: white;
}

.header {
  overflow: hidden;
}

.main {
}

.responsive {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 30px auto 30px auto;
    height: auto;
}
